modules = ["python-3.11", "web", "r-4.5", "python-3.9", "nodejs-24", "nix", "dotnet-10.0", "nodejs-with-prybar-18", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["glibcLocales", "libxcrypt", "perl540Packages.DateTimeFormatDateParse", "pkg-config", "xsimd"]

[deployment]
deploymentTarget = "autoscale"
run = ["streamlit", "run", "app.py", "--server.port", "5000"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "streamlit-app"

[[workflows.workflow]]
name = "streamlit-app"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 35649
externalPort = 3000

[[ports]]
localPort = 36839
externalPort = 3003

[[ports]]
localPort = 39001
externalPort = 5000

[[ports]]
localPort = 40665
externalPort = 4200

[[ports]]
localPort = 42115
externalPort = 6000

[[ports]]
localPort = 43681
externalPort = 5173

[[ports]]
localPort = 43749
externalPort = 6800

[[ports]]
localPort = 44637
externalPort = 8008

[[ports]]
localPort = 45363
externalPort = 3001

[[ports]]
localPort = 45505
externalPort = 3002
